h1 {
    color: rgb(68, 128, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightblue;
}
li {
    font-size: 120%;
    background-color: lightblue;
}
h2 {
    font-size: 170%;
    color: crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightblue;
}
h3 {
    font-size: 125%;
    color: crimson;
    background-color: lightblue;
}
p {
    font-size: 110%;
    background-color: lightblue;
}
